@media screen and (min-width: 1200px) {
  .container {
    max-width: 1128px;
  }

  /*------Advantages--------*/
  .advan {
    padding: 120px 0;
  }

  .advan_list {
    display: flex min-width: 1128px;
  }

  .advan_item_perevagy {
    display: flex;
    row-gap: 24px;
    max-width: 264px;
  }

  .advan-header {
    color: #2E2F42;
  }

  /*-------------Team----------------*/
  .team {
    padding: 120px 0;
  }

  .team_list {
    flex-basis: calc((100% - 72px) / 4);
  }


  /*-----Customers----*/

  .sections-customers {
    padding: 120px 0;
  }

  .clients-item {
    width: calc((100% - 120px) / 6);
  }

  .clients_item {
    width: 168px;
    height: 88px;
  }


  /*-----Footer--------*/

  .footer {
    margin-left: auto;
    margin-right: auto;
  }
  .footer_left {
    margin: auto;
    display: flex;
  }
  .footer_left_studio{
    margin-right: 120px;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
  }

  .footer-form {
    margin-top: 0px;
  }

  .footer-content-flex {
    gap: 120px;
  }
  .subscribe_contact{
    display: flex;
  }
  .subscribe_form{
    margin-left: 0;
  }


}